@import-normalize;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  width: 97vw;
  overscroll-behavior: none;

  font-family: "Montserrat", sans-serif;
  color: white;
  background: #181818; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #222222,
    #181818
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #222222,
    #181818
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.root {
  width: 95%;
}

main {
  width: 90vw;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
